@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,600;6..12,700;6..12,900&display=swap');
*{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}

body{
    background-color: #eaf1f6;
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: right top;
}

.content{
    margin: auto;
    text-align: center;
    position: relative;
    top: 80px;
    width: 340px;
    height: auto;
    padding-top: 20px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    z-index: 0;
}

h1{
    font-size: 2.5rem;
    color: #38497B;
    z-index: 1;
}

input{
    width: 80%;
    margin-left: 10%;
    height: 48px;
    border: none;
    border-radius: 18px;
    background: #eeeeee;
    box-shadow:  20px 20px 60px #cacaca,
                -20px -20px 60px #ffffff;
    text-align: center;
    outline: none;
    font-size: 17px;
    color: #666;
    animation: ease-in-out;
    transition: 0.5s;
    font-weight: 600;
    z-index: 0;
}

input:focus::placeholder{
    color: #00000000;
    animation: ease-in-out;
    transition: 350ms;
}

button{
    width: 80%;
    padding-left: 10%;
    margin: auto;
    z-index: 1;
}

a{
    position: relative;
    top: 20px;
    color: #999;
}

a:link{
    color: #999;
}

a:visited{
    color: #999;
}

textarea{
    width: 300px;
    height: 50px;
    border: none;
    resize: none;
    box-shadow:  20px 20px 60px #cacaca,
             -20px -20px 60px #ffffff;
    animation: ease-in-out;
    transition: 0.5s;
    border-radius: 12px;
    padding-top: 10px;
    transition-delay:100ms;
}
